@model TI2Project.Models.Estudios

<h2>@Html.DisplayFor(model => model.Nome)</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
    </p>
}

<div style="float:left">
    <img src="~/Images/Studios/@Html.DisplayFor(model => model.Imagem)" width="260" height="370">
    <p></p>
    <p>@Html.ActionLink("Back to Actors", "Index")</p>
</div>

<div style="float:left; border-style:solid; border-color:white; border-width:thick"></div>
<div style="float:left">
    <p><b>Films:</b></p>
    @foreach (var item in Model.ListaDeFilmes)
    {
        <p>
            <a href="/Filmes/Details/@item.ID">
                <img src="~/Images/Films/@Html.DisplayFor(modelItem => item.Imagem)" width="50" height="75">
            </a>
            @Html.DisplayFor(modelItem => item.Titulo)
        </p>
    }
</div>