@model TI2Project.Models.AtoresFilmes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AtoresFilmes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ator.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ator.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Filme.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filme.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomePersonagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomePersonagem)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
