@model TI2Project.Models.Filmes

<h2>@Html.DisplayFor(model => model.Titulo)</h2>

<div>
    <hr />
        @*<p>
            @Html.DisplayFor(model => model.Estudio.Nome)
        </p>*@
            @{string title = Html.DisplayFor(model => model.Titulo).ToString() + ".jpg";}
            <img src="~/Imagens/Filmes/@title" width="275" height="375">
        @*<p>
            @Html.DisplayFor(model => model.Trailer)
        </p>
        <p>
            @Html.DisplayFor(model => model.Lancamento)
        </p>
        <p>
            @Html.DisplayFor(model => model.Genero)
        </p>
        <p>
            @Html.DisplayFor(model => model.Duracao)
        </p>*@
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
